@font-face {
  font-family: 'SpaceMono';
  src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono-Bold';
  src: url('../fonts/SpaceMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono-Italic';
  src: url('../fonts/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono-BoldItalic';
  src: url('../fonts/SpaceMono-BoldItalic.ttf') format('truetype');
}

body{
    font-family: SpaceMono, Arial, sans-serif;
    background-color:#1b4348;
    color:#47c5bf;font-weight:200;
    font-size:16px;
}

body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16012b+0,011e2b+100 */
background: #16012b; /* Old browsers */
background: -moz-linear-gradient(top, #16012b 0%, #011e2b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #16012b 0%,#011e2b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #16012b 0%,#011e2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16012b', endColorstr='#011e2b',GradientType=0 ); /* IE6-9 */
}

h1{
  font-family: SpaceMono-Italic, Arial, sans-serif;
}

li{
  list-style:none;
}

li:before{
  content:"> ";
  font-size:120%;
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
  font-weight: 200;
  padding:0 5px;
  font-family:Arial;
  background-color: rgba(255,255,255,.1);
}

a{
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

a,a:visited,a:hover,a:active{
  color:#ffa2fd;
  font-weight:200;
  text-decoration:none;
}

a:active{
  color:#ffa5d3;
}

a:hover{
  color:#ffcffd;
}